* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
}
.flex {
    display: flex;
}
.nav-item{
    padding: .25rem 0;
    background-color: lightgrey;
}
.nav-item a:link, .nav-item a:visited {
    text-decoration: none;
    font-weight: 300;
    color: black;
    transition: all 0.5s ease-in-out;
}
.nav-item a:hover, .nav-item a:active {
    text-decoration: underline;
}
.nav-item p {
    padding-right: 1rem;
}
h3 {
    font-size: 2.5rem;
    font-weight: 600;
}
h4 {
    font-size: 2rem;
    font-weight: 600;
}
.vert{
    border: 1px solid green;
    color: green;
}
span{
    float: right;
    color: white;
    background-color: green;
    border-radius: 15px;
    padding: 0 15px;
}
.list p{
    padding: 0.5rem;
}
.list p:nth-child(1){
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.list p:nth-child(2){
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.list p:nth-child(3){
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.total{
    text-align: end;
}
.liste {
    padding-top: 4rem;
    padding-left: 9.375rem;
}
.item1{
    font-size: 1.5rem;
}
.item2{
    padding-top: .25rem;
    font-size: 1.25rem;
}
button {
    border: 1px solid grey;
    font-size: 1.25rem;
    font-weight: 200;
    background-color: white;
    border-radius: 5px;
}
button:hover, button:active {
    background-color: green;
    color: white;
    border-radius: 5px;
}
.d-grid button{
    padding: 0.5rem 0;
    width: 37.5rem;
}
.f-grid{
    text-align: end;
}
.f-grid button{
    padding: 0.5rem;
}
.main input{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 2rem;
    width: 37.5rem;
}
.liste input{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 1rem;
    height: 2rem;
    width: 30rem;
}